<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG retrysingletest.Listener Example">
    <listeners>
        <listener class-name="tests.AnnotationTransformer"/>
        <listener class-name="tests.TestListener"/>
    </listeners>
    <test name="TestNG Sample Test" preserve-order="true">
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="checkLoginWithEmptyUsername"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
