# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

name: SauceDemo CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Ð¡heckout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Set up Firefox
        uses: actions/setup-browser@v0.3.4
        with:
          browser: firefox
          version: latest
      - name: Run Tests
        run: mvn clean test
      - name: Run cross browser tests
        run: mvn clean test -DsuiteXmlFile='src/test/resources/CrossBrowserTest.xml'

      
